  <div class="container w-50" id='main'>
    <div class="row align-center">
          <img src="/img/logo_mode.png" width="100%" class='text-center'/>
          <input class="form-control form-control-lg font-weight-bold text-center m-2" type="text" placeholder="Введите логин">
          <input class="form-control form-control-lg font-weight-bold text-center m-2" type="text" placeholder="Введите пароль">
          <div class="col-2"></div>
          <div class="col-8  p-4">
            <button type="button" class="btn btn-primary btn-lg btn-block">Войти</button>
          </div>
          <div class="col-2"></div>

      </div>
    </div>
    <!-- <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/script_panel.js"></script> -->
